<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='js/script.js') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
</head>
<body id="page_look">
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://login.codingdojo.com/m/506/12465/87451">Coding Dojo Wall</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='#'>Welcome {{user.first_name}}!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/search?q=oceanography&tbm=isch&ved=2ahUKEwjR75-C2uv7AhVwno4IHYaqDqUQ2-cCegQIABAA&oq=oceanography&gs_lcp=CgNpbWcQARgAMgcIABCxAxBDMgUIABCABDIECAAQQzIECAAQQzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoECCMQJ1DeBVjeBWCLFWgAcAB4AIABRogBgQGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=G7qSY5H2JfC8uvQPhtW6qAo&bih=748&biw=1398&rlz=1C5CHFA_enID1010ID1011&hl=en">&#127757;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active-" aria-current="page"href="/logout" class="btn btn-info">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="d-flex justify-content-between align-items-center py-2 px-5">
        <h1 class="text-center">Coding Dojo Wall Messages</h1>
        
    </div>
    <hr>
    <main class="d-flex justify-content-around">
        <div class="col-5 bg-dark text-light">
            <h2 class="text-center">{{messages|length}} messages for you</h2>
            <hr class="bg-warning">
            
            {% for message in messages %}
            <div class="card bg-primary my-2">
                <div class="card-body">
                    <h3 class="card-title">{{message.sender.first_name}} said {{message.time_span()}}:</h3>
                    <p class="card-text">{{message.content}}</p>
                </div>
                <div class="card-footer">
                    <a href="/destroy/message/{{message.id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-5 bg-dark text-light">
            <h2 class="text-center">Send a Message:</h2>
            {% for message in messages %}
                    <p class="text-center">{{messages|length}} messages you sent so far.</p>
                    <hr class="bg-warning">   
                {% for u in users %}
                    {% if u.id != session.user_id %}
                        <form class=" p-2"action="/post_message" method="post">
                            <input type="hidden" name="sender_id" value={{session.user_id}}>
                            <input type="hidden" name="receiver_id" value={{u.id}}>
                            <label for="receiver_id">Message {{u.first_name}}:</label>
                            <textarea class="form-control" name="content" id="" cols="30" rows="3"></textarea>
                            <input type="submit" value="Message" class="btn btn-warning">
                        </form>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </main>
</body>
</html>
</body>
</html>